In [1]:
import pandas as pd
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
import numpy as np
import matplotlib.pyplot as plt

In [5]:
# Load Datasets

train = pd.read_csv('../data/train.csv')
test = pd.read_csv('../data/test.csv')

In [8]:
train.head(2).T

                                         0                 1
rent_approval_date                 2021-09           2022-05
town                           jurong east             bedok
block                                  257               119
street_name          Jurong East Street 24  bedok north road
flat_type                           3 room            4-room
flat_model                  new generation    new generation
floor_area_sqm                        67.0              92.0
furnished                              yes               yes
lease_commence_date                   1983              1978
latitude                          1.344518          1.330186
longitude                        103.73863        103.938717
elevation                              0.0               0.0
subzone                         yuhua east       bedok north
planning_area                  jurong east             bedok
region                         west region       east region
monthly_rent                          1600              2250