In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np
from utils.preprocessing_util import *

In [3]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [4]:
df = pd.read_csv('../data/train.csv')

In [5]:
# Drop columns with no significance
df = df.drop('furnished', axis=1)
df = df.drop('elevation', axis=1)

# Numeric encoding
clean_replace_numeric(df, 'flat_type', '2', 2)
clean_replace_numeric(df, 'flat_type', '3', 3)
clean_replace_numeric(df, 'flat_type', '4', 4)
clean_replace_numeric(df, 'flat_type', '5', 5)
clean_replace_numeric(df, 'flat_type', 'executive', 6)

# Target encoding
target_encode(df, 'flat_model')
format_integer(df, 'flat_model')

# Perform other preprocessing steps...

# Done preprocessing
print(df.head(10))

  rent_approval_date             town block            street_name flat_type  \
0            2021-09      jurong east   257  Jurong East Street 24         3
1            2022-05            bedok   119       bedok north road         4
2            2022-10        toa payoh   157     lorong 1 toa payoh         3
3            2021-08        pasir ris   250    Pasir Ris Street 21         6
4            2022-11  kallang/whampoa    34           Whampoa West         3
5            2023-04    bukit panjang   654             Senja Road         6
6            2021-01         sengkang  407b          fernvale road         5
7            2022-06       ang mo kio   223    ang mo kio avenue 1         3
8            2021-10           bishan   149       bishan street 11         4
9            2021-04          punggol   133        edgedale plains         5

   flat_model  floor_area_sqm  lease_commence_date  latitude   longitude  \
0        2370            67.0                 1983  1.344518  103.738630
1        2370            92.0                 1978  1.330186  103.938717
2        2636            67.0                 1971  1.332242  103.845643
3        2879           149.0                 1993  1.370239  103.962894
4        2636            68.0                 1972  1.320502  103.863341
5        2710           130.0                 2001  1.387847  103.764249
6        2710           110.0                 2005  1.388997  103.875148
7        2370            67.0                 1978  1.366048  103.838123
8        2465            84.0                 1987  1.344279  103.855556
9        2710           112.0                 2003  1.392832  103.910620

             subzone  planning_area             region  monthly_rent
0         yuhua east    jurong east        west region          1600
1        bedok north          bedok        east region          2250
2  toa payoh central      toa payoh     central region          1900
3    pasir ris drive      pasir ris        east region          2850
4          bendemeer        kallang     central region          2100
5            saujana  bukit panjang        west region          2300
6           fernvale       sengkang  north-east region          2100
7         shangri-la     ang mo kio  north-east region          2300
8        bishan east         bishan     central region          2100
9      punggol field        punggol  north-east region          2100

### Generate dummies of a particular feature

In [6]:
town_dummies = generate_dummies(df, 'town')

In [7]:
town_dummies.head()

,town_ang mo kio,town_bedok,town_bishan,town_bukit batok,town_bukit merah,town_bukit panjang,town_bukit timah,town_central,town_choa chu kang,town_clementi,...,town_pasir ris,town_punggol,town_queenstown,town_sembawang,town_sengkang,town_serangoon,town_tampines,town_toa payoh,town_woodlands,town_yishun
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Concat the feature you need for the modelling stage

In [8]:
df[['flat_type', 'flat_model', 'floor_area_sqm', 'monthly_rent']].head()

  flat_type  flat_model  floor_area_sqm  monthly_rent
0         3        2370            67.0          1600
1         4        2370            92.0          2250
2         3        2636            67.0          1900
3         6        2879           149.0          2850
4         3        2636            68.0          2100

In [9]:
pd.concat([df[['flat_type', 'flat_model', 'floor_area_sqm', 'monthly_rent']],
          town_dummies
          ], axis=1)

,flat_type,flat_model,floor_area_sqm,monthly_rent,town_ang mo kio,town_bedok,town_bishan,town_bukit batok,town_bukit merah,town_bukit panjang,...,town_pasir ris,town_punggol,town_queenstown,town_sembawang,town_sengkang,town_serangoon,town_tampines,town_toa payoh,town_woodlands,town_yishun
0,3,2370,67.0,1600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4,2370,92.0,2250,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,2636,67.0,1900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,6,2879,149.0,2850,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,3,2636,68.0,2100,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,3,2370,67.0,2200,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59996,4,2612,83.0,4100,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
59997,5,2636,122.0,2250,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
59998,5,2444,123.0,4700,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59999,3,2370,67.0,2850,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0